<ion-view view-title="Home">
  <ion-content class="padding">
    <h3>Select option</h3>
    <ul class="list">
      <li class="item item-icon-right" ng-click="go('tab.account')">
        Add new account <i class="ion-plus-round icon"></i>
      </li>
    </ul>
  </ion-content>
</ion-view>
