<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John" name="firstname" ng-model="accountData.firstname">
                    <span class="error-item ng-hide" ng-show="!accountData.firstname && formSubmitted"> Please complete your first name</span>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Suhr" name="lastname" ng-model="accountData.lastname">
                    <span class="error-item ng-hide" ng-show="!accountData.lastname && formSubmitted"> Please complete your last name</span>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="john@suhr.com" name="email" ng-model="accountData.email">
                    <span class="error-item ng-hide" ng-show="!accountData.email && formSubmitted">
                        <span class="email-format-error" style="display: none;">
                            Email format is incorrect
                        </span>
                        <span class="email-required-error" style="display: none;">
                            Please complete email
                        </span>
                    </span>
                </label>

                <div class="button-bar padding">
                    <button type="submit" ng-click="createAccount(accountData)"
                            class="button button-block button-positive">Create Account
                    </button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
