.error-item{
    border-top: none !important;
    color: red;
    font-weight: bold;
    font-size: small;
}

input[name="email"].ng-invalid-email + span.error-item > span.email-format-error {
    display: block !important;
}

input[name="email"].ng-invalid-email + span.error-item > span.email-required-error {
    display: none !important;
}

input[name="email"]:not(.ng-invalid-email) + span.error-item > span.email-format-error {
    display: none !important;
}

input[name="email"]:not(.ng-invalid-email) + span.error-item > span.email-required-error {
    display: block !important;
}


